[submodule "touchosc2midi/src"]
	path = touchosc2midi/src
	url = https://github.com/BlokasLabs/touchosc2midi
[submodule "patchage/src"]
	path = patchage/src
	url = https://github.com/blokaslabs/patchage
[submodule "python3-unicategories/unicategories"]
	path = python3-unicategories/src
	url = https://gitlab.com/ergoithz/unicategories
